body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 10px;
}

h1 {
    font-size: 24px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery a {
    text-decoration: none;
    color: black;
    margin: 10px;
    text-align: center;
}

.gallery img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.2s;
}

.gallery img:hover {
    transform: scale(1.1);
}

.image-gallery img {
    width: 150px;
    margin: 5px;
    border-radius: 5px;
}